---
const { image, jobName, jobDescription, workAges } = Astro.props;
---

<div class="flex items-start gap-4 group">
  <div
    class="w-12 h-12 rounded-full bg-surface-container-low border border-border-subtle flex items-center justify-center shrink-0 group-hover:border-primary transition-colors"
  >
    <img src={image} alt={jobName} />
  </div>
  <div
    class="flex-1 flex flex-col md:flex-row md:items-center justify-between gap-1"
  >
    <div>
      <h3 class="font-headline-md text-headline-md text-primary">
        {jobName}
      </h3>
      <p class="font-label-md text-label-md text-on-surface-variant">
        {jobDescription}
      </p>
    </div>
    <span class="font-label-sm text-label-sm text-muted-foreground"
      >{workAges}</span
    >
  </div>
</div>
